/* Button */

.btn-primary,
.btn-dark {
    border: 0;
    border-radius: 3px;
    padding: 12px 20px 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: 350ms;
    -moz-transition: 350ms;
    -o-transition: 350ms;
    transition: 350ms;
}

.btn-white.btn-primary {
    background: #fff;
    color: #ffb600;
}

.btn-primary {
    background: #EB304E
}

.btn-dark {
    background: #23282d;
}

.btn-primary:hover,
.btn-dark:hover,
.btn-white.btn-primary:hover {
    background:  #fff;
    color:#EB304E;
}

.general-btn {
    clear: both;
    margin-top: 50px;
}

#mainheader h3 {
    font-weight: 700;
    color: #EB304E !important;
    font-size: 22px;
  }

  #mainheader h1 {
    font-weight: 700;
    color: #EB304E !important;
    font-size: 36px;
  }

  #mainheader p {
    font-size: 14px;
    line-height: 24px;
    color: #1F485D !important;
  }



.navbar-fixed {
    z-index: 99999;
    position: fixed;
    opacity: .98;
    width: 100%;
    top: 0;
    -webkit-animation: fadeInDown 800ms;
    -moz-animation: fadeInDown 800ms;
    -ms-animation: fadeInDown 800ms;
    -o-animation: fadeInDown 800ms;
    animation: fadeInDown 800ms;
    /* -webkit-backface-visibility: hidden; */
}


/*-- Logo --*/


/* header right */

.header-right {
    /*float: center !important;*/
    float: top;
    background-color: #fff !important;
}

ul.top-info-box {
    list-style: none;
    margin: 0;
    padding-left: 0vh;
    float: center; 
   
}

ul.top-info-box li {
    position: relative;
    float: left;
    margin-left: 0;

    margin-right: 25px;
}


ul.top-info-box li:last-child {
    margin-right: 0px;
    padding-right: 0px;
    position: relative;
    float: center;
    border-right:0;
    border-left:0;
}



ul.top-info-box li .info-box span.info-icon {
    font-size: 20px;
    display: inline-block;
    text-align: center;
    /* float: left; */
    margin: 2px 5px 0 0;
    position: relative;
}

ul.top-info-box li .info-box .info-box-content {
    display: inline-block;
    font-family: Montserrat;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

ul.top-info-box li .info-box .info-box-title {
    font-size: 14px;
    margin-bottom: 8px;
    line-height: normal;
    color:#1F485D;
}

ul.top-info-box li .info-box .info-box-subtitle {
    margin: 0;
    line-height: normal;
    font-size: 15px;
    font-weight: 700;
    color:#1F485D;
}





/* Main navigation */

.navbar-toggle {
    float: left;
    margin-top: 10px;
    padding: 12px;
}

.navbar {
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
}

.navbar-toggle {
   float: left;
    margin-top: 10px;
    padding: 8px;
    border-radius: 0;
    margin-right: 5px;
    background: #EB304E;
}

.navbar-toggle .icon-bar {
    background: #fff;
}

.navbar-toggle .i-bar {
    background: #fff;
}

ul.navbar-nav {
    /* float: left; */
    display: inline-block;
}

ul.navbar-nav>li {
    float: none;
    display: inline-block;
}

ul.navbar-nav>li:hover>a,
ul.navbar-nav>li.active>a {
    color: #ffb600;
    position: relative;
}

ul.navbar-nav>li:hover>a:after,
ul.navbar-nav>li.active>a:after {
    content: '';
    position: absolute;
    border-bottom: 2px solid #ffb600;
}

ul.navbar-nav>li {
    padding: 0 13px;
    position: relative;
}

ul.navbar-nav>li:last-child {
    padding-right: 0;
}

ul.navbar-nav>li:last-child:after {
    background: none;
}

ul.navbar-nav>li>a {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    text-rendering: optimizeLegibility;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -.2px;
    font-size: 14px;
    margin: 0;
    line-height: 40px;
    padding: 30px 0;
    -webkit-transition: 350ms;
    -moz-transition: 350ms;
    -o-transition: 350ms;
    transition: 350ms;
}

ul.navbar-nav>li>a:hover,
ul.navbar-nav>li>a:focus {
    background: none;
}

ul.navbar-nav>li>a i {
    font-weight: 700;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background: transparent;
    border: 0;
}

.fas{
    color: #1F485D;
}


/*-- Nav Search start --*/

.site-navigation .container,
.search-area{
    position: relative;
}

.search-area{
    min-height: 70px;
    padding-right: 0;
}

.nav-search{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 10px;
    color: #999;
}


.search-block {
    background-color: rgba(0,0,0,.65);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
    padding: 10px;
    position: absolute;
    right: 15px;
    top: 100%;
    width: 300px;
    z-index: 10;
    margin-top: 0;
}

.search-block .form-control {
    background-color:red;
    border: none;
    color: #fff;
    width: 100%;
    height: 40px;
    padding: 0 12px;
}

.search-block .search-close {
    color: #999;
    position: absolute;
    top: -53px;
    right: -10px;
    font-size: 32px;
    cursor: pointer;
    background:red;
    padding: 5px;
}

.search-area .nav-search{
    top: 23px;
}

.search-area .search-block .search-close{
    top: -50px;
}

.search-area .search-block {
    right: 0;
}

.nav-up {
   display: none !important;
}

/* Header variation
================================================== */

/*-- Header One --*/

.header-one .site-navigation{
    background: #1F485D;
}

.header-one .navbar-collapse{
    padding-left: 0;
}

.header-one ul.navbar-nav>li>a{
    padding: 15px 0;
    color: #fff;
}

.header-one ul.navbar-nav>li:hover>a, .header-one ul.navbar-nav>li.active>a{
    color: #EB304E
}

.header-one ul.navbar-nav>li{
    padding-left: 0;
    padding-right: 20px;
}

.header-one .logo-area{
    padding: 30px 0;
    background-color: #fff !important;
    width: 100%;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts1/icomoon/icomoon.eot?srf3rx");
  src: url("fonts1/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("fonts1/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("fonts1/icomoon/icomoon.woff?srf3rx") format("woff"), url("fonts1/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #828282;
  background: #fff;
}

#page1 {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 70%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;

}
.offcanvas #page1 {
  overflow: hidden;
  position: absolute;
}
.offcanvas #page1:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}
.qbootstrap-nav {
  width: 100%;
  padding: 0;
  z-index: 1001;
}
.qbootstrap-nav .top {
  display: block;
  width: 100%;
  padding: 20px 0 30px 0;
}
.qbootstrap-nav .top-menu {
  padding: 10px 0 0 0;
}
@media screen and (max-width: 768px) {
  .qbootstrap-nav .top-menu {
    padding: 0;
  }
}
.qbootstrap-nav .num, .qbootstrap-nav .loc {
  position: relative;
}
.qbootstrap-nav .num .icon, .qbootstrap-nav .loc .icon {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: table;
  width: 60px;
  height: 60px;
  background: rgba(0, 0, 0, 0.04);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.qbootstrap-nav .num .icon i, .qbootstrap-nav .loc .icon i {
  display: table-cell;
  vertical-align: middle;
  height: 60px;
  font-size: 24px;
  color: crimson;
}
.qbootstrap-nav .num p, .qbootstrap-nav .loc p {
  padding-left: 80px;
}
.qbootstrap-nav .num p a, .qbootstrap-nav .loc p a {
  color: crimson;
}
.qbootstrap-nav #qbootstrap-logo {
  font-size: 50px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Poppins", Arial, sans-serif;
}
@media screen and (max-width: 768px) {
  .qbootstrap-nav #qbootstrap-logo {
    text-align: left !important;
    margin-bottom: 20px;
  }
}
.qbootstrap-nav #qbootstrap-logo  {
  color: crimson;
  position: relative;
}
.qbootstrap-nav #qbootstrap-logo span {
  color: crimson;
}
.qbootstrap-nav #qbootstrap-logo i {
  font-size: 38px;
}
.qbootstrap-nav .menu-1 {
  padding: 13px 0;
  background: rgba(0, 0, 0, 0.04);
  width: 100%;
  float: left;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
@media screen and (max-width: 768px) {
  .qbootstrap-nav .menu-1 {
    display: none;
  }
}

#page1 .sticky-wrapper{
  height: fit-content !important;
}



