
/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.servicest .icon-box {
  text-align: center;
  border: 1px solid #e5f0d5;
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
}

.servicest .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #f3f8ec;
  border-radius: 50px;
  border: 1px solid #d6e8bf;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;
}

.servicest .icon-box .icon i {
  color: #bfdb99;
  font-size: 28px;
  transition: ease-in-out 0.3s;
}

.servicest .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.servicest .icon-box h4 a {
  color: #353535;
  transition: ease-in-out 0.3s;
}

.servicest .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.servicest .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}

.servicest.icon-box:hover h4 a, .services .icon-box:hover .icon i {
  color: #8fc04e;
}

.servicest .icon-box:hover .icon {
  border-color: #8fc04e;
}

.servicest .container .row .icon-box h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
} 